html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html.dark {
  background: black;
  color: white;
}

html {
  @apply font-sans;
}

/* range query express */
/* @media (width >= 700px) {} */