@reference "./tailwind.css";

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  isolation: isolate;
}

html {
  @apply font-sans;
  background-color: light-dark(white, #121212);
  color: light-dark(black, --theme(--color-light-gray-100));

  &,
  &[data-theme="auto"] {
    color-scheme: dark light;
  }

  &[data-theme="dark"] {
    color-scheme: dark;
  }

  &[data-theme="light"] {
    color-scheme: light;
  }
}