@import "@ziloen/tailwind-config/preset.css" theme(inline);

/* @import "tailwindcss/preflight.css" layer(base); */

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
}

/* 
`[data-theme=dark]`, `:host([data-theme=dark])`
*/
@custom-variant dark {

  &[data-theme=dark],
  [data-theme=dark] &,
  &:host([data-theme=dark]),
  :host([data-theme=dark]) & {
    @slot;
  }
}


@theme {
  --text-color-neutral-secondary: light-dark(--theme(--color-dark-gray-500),
      --theme(--color-light-gray-300));
  --text-color-neutral-tertiary: light-dark(--theme(--color-dark-gray-300), --theme(--color-light-gray-500));

  @keyframes set-translate-xy {
    0% {
      transform: rotateX(0deg) rotateY(0deg);
    }
  }
}