::view-transition-group(.masonry-scroll-item) {
  /* animation-duration: 2s; */
  animation-duration: .4s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}